* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --scale: calc((1vw + 1vh)/2);
    user-select: none;
    pointer-events: none;
}

body {
    overflow: hidden;
    display: flex;
}

#background {
    position: absolute;
    /* background: url("../img/bg.jpg"); */
    background-color: cadetblue;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

canvas {
    pointer-events: initial;
}

#game-ui {
    display: none;
}

#time {
    position: absolute;
    left: calc(var(--scale) * 5);
    bottom: calc(var(--scale) * 5);
    font-size: calc(var(--scale) * 8);
}

#find-match-inputs {
    position: absolute;
    top: calc(var(--scale) * 5);
    left: calc(var(--scale) * 5);
    width: calc(var(--scale) * 10);
    height: calc(var(--scale) * 5);
    display: none;
}

#versus-text {
    position: absolute;
    right: calc(var(--scale) * 5);
    top: calc(var(--scale) * 5);
    font-size: calc(var(--scale) * 4);
}

#inventory-parent {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#inventory {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--scale) * 1);
    align-items: center;
    font-size: calc(var(--scale) * 2);
    gap: calc(var(--scale));
}

#inventory-slots {
    display: flex;
    flex-direction: row;
    gap: calc(var(--scale) * 1);
    justify-self: center;
    align-self: center;
    width: fit-content;
}

.item-slot {
    width: calc(var(--scale) * 5);
    height: calc(var(--scale) * 5);
    border-radius: calc(var(--scale) * 1);
    background-color: rgba(29, 29, 29, 0.836);
    pointer-events: all;
}