@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&family=Exo+2&family=Niramit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --scale: calc((1vw + 1vh)/2);
    user-select: none;
    pointer-events: none;
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    overflow: hidden;
    display: flex;
}

#background {
    position: absolute;
    /* background: url("../img/bg.jpg"); */
    background-color: cadetblue;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

canvas {
    pointer-events: initial;
}

input, button {
    user-select: all;
    pointer-events: all;
}

#game-ui {
    display: none;
}

#time-parent {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--scale) * 10);
    /* left: calc(var(--scale) * 5); */
    /* bottom: calc(var(--scale) * 5); */
    font-size: calc(var(--scale) * 3);
}

#time {
    /* position: relative; */
    /* left: 0; */
}

#find-match-inputs {
    position: absolute;
    top: calc(var(--scale) * 5);
    left: calc(var(--scale) * 5);
    width: calc(var(--scale) * 10);
    height: calc(var(--scale) * 5);
    display: none;
}

#versus-text {
    position: absolute;
    right: calc(var(--scale) * 5);
    top: calc(var(--scale) * 5);
    font-size: calc(var(--scale) * 4);
}

#inventory-parent {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#inventory {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--scale) * 1);
    align-items: center;
    font-size: calc(var(--scale) * 2);
    gap: calc(var(--scale));
}

#inventory-slots {
    display: flex;
    flex-direction: row;
    gap: calc(var(--scale) * 1);
    justify-self: center;
    align-self: center;
    width: fit-content;
}

.item-slot {
    width: calc(var(--scale) * 5);
    height: calc(var(--scale) * 5);
    border-radius: calc(var(--scale) * 1);
    background-color: rgba(29, 29, 29, 0.836);
    pointer-events: all;
}

#next-load-parent {
    font-size: calc(var(--scale) * 2);
    position: absolute;
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    height: fit-content;
    left: calc(var(--scale) * 1);
    top: calc(var(--scale) * 1);

    gap: calc(var(--scale) * 2);
}

.next-load-i-parent {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: calc(var(--scale) * 1);
}

.next-load-bar-parent {
    width: calc(var(--scale) * 10);
    height: calc(var(--scale) * 4);
    border: calc(var(--scale) * 0.5) solid rgb(0, 0, 0);
    position: relative;
    border-radius: calc(var(--scale) * 1);
    background-color: rgba(255, 255, 255, 0.281);
    /* filter: drop-shadow(0px 0px calc(var(--scale) * 0.3) rgb(0, 0, 0)); */
}

.next-load-bar-fill {
    background-color: white;
    height: 100%;
}

.next-load-text {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
}

.next-unit-load-number {
    position: absolute;
    right: 0;
    /* transform: translate(-50%); */
    /* height: fit-content; */
}